body {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 35%;
  margin: 5rem auto;
}

select {
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 0;
  letter-spacing: 0.1rem;
  text-align-last: center;
}

input {
  text-align: center;
  padding: 1rem;
  border-radius: 0;
  border-width: 1px;
}

span {
  text-transform: uppercase;
  margin-bottom: 0;
}

button {
  background-color: #222;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  min-height: 44px;
  user-select: none;
}

button:hover,
button:focus {
  opacity: 0.75;
}
